.switcher {
  position: relative;
}
.btnWrapper{
  display: flex;
  align-items: center;
  gap: 4px;
}

.btn{
  width: 65px!important;  
  height: auto !important;
  padding: 0 !important;
  &:hover {
    box-shadow: none !important;
  }
}

.en {
  background: url(data:image/svg+xml,%3Csvg%20width%3D%2222%22%20height%3D%2222%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M11%2022c6.075%200%2011-4.925%2011-11S17.075%200%2011%200%200%204.925%200%2011s4.925%2011%2011%2011z%22%20fill%3D%22%23fff%22%2F%3E%3Cpath%20d%3D%22M10.522%2011H22c0-.992-.132-1.954-.378-2.87h-11.1V11zM10.522%205.261h9.864a11.06%2011.06%200%2000-2.538-2.87h-7.326v2.87zM11%2022c2.589%200%204.968-.895%206.847-2.391H4.153A10.953%2010.953%200%200011%2022zM1.615%2016.74h18.77c.541-.883.96-1.847%201.236-2.87H.38a10.937%2010.937%200%20001.236%202.87z%22%20fill%3D%22%23D80027%22%2F%3E%3Cpath%20d%3D%22M5.095%201.718h1.003l-.933.677.357%201.097-.933-.678-.932.678.307-.947a11.06%2011.06%200%2000-2.133%202.377h.321l-.593.432c-.093.154-.182.31-.266.47l.283.872-.529-.384c-.131.278-.252.563-.36.854l.313.96h1.152l-.932.678.356%201.096-.932-.677-.559.406C.029%2010.078%200%2010.536%200%2011h11V0C8.827%200%206.801.63%205.095%201.718zM5.522%209.9l-.933-.677-.932.677.356-1.096-.932-.677h1.152L4.59%207.03l.356%201.096h1.153l-.933.677.357%201.096zm-.357-4.3l.357%201.096-.933-.678-.932.678.356-1.096-.932-.678h1.152l.356-1.096.356%201.096h1.153l-.933.678zm4.302%204.3l-.932-.677-.933.677.357-1.096-.933-.677H8.18l.356-1.096.356%201.096h1.152l-.932.677.356%201.096zm-.356-4.3l.356%201.096-.932-.678-.933.678L7.96%205.6l-.933-.678H8.18l.356-1.096.356%201.096h1.152l-.932.678zm0-3.205l.356%201.097-.932-.678-.933.678.357-1.097-.933-.677H8.18L8.535.622l.356%201.096h1.152l-.932.677z%22%20fill%3D%22%230052B4%22%2F%3E%3C%2Fsvg%3E)
    center no-repeat;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  width: 20px;
  height: 16px;
  display: inline-block;
}

.ru {
  background: url(data:image/svg+xml,%3Csvg%20width%3D%2215%22%20height%3D%2216%22%20viewBox%3D%220%200%2015%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M14.5732%2010.5742C13.5436%2013.4872%2010.7655%2015.5742%207.49999%2015.5742C4.23445%2015.5742%201.45635%2013.4872%200.426758%2010.5742H14.5732Z%22%20fill%3D%22%23D90012%22%2F%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M14.5732%2010.5742C14.8496%209.79227%2015%208.95081%2015%208.07422C15%207.19763%2014.8496%206.35617%2014.5732%205.57422H0.426764C0.150386%206.35617%200%207.19763%200%208.07422C0%208.95081%200.150386%209.79227%200.426764%2010.5742H14.5732Z%22%20fill%3D%22%230033A0%22%2F%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M14.5732%205.57422H0.426758C1.45635%202.66124%204.23445%200.574219%207.49999%200.574219C10.7655%200.574219%2013.5436%202.66124%2014.5732%205.57422Z%22%20fill%3D%22%23F8F8F8%22%2F%3E%0A%3C%2Fsvg%3E%0A)
    center no-repeat;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  border-radius: none;
  width: 20px;
  height: 16px;
  display: inline-block;
}

.langSpan{
  margin-top: 2px;
  text-transform: capitalize;
  color:var(--white);
}

.LangBtnWrapper {
  display: flex;
  flex-direction: column;
}
.langMenuSpan{
  margin-top: 2px;
  text-transform: capitalize;
}

.langMenuItem {
  display: flex;
  gap: 4px;
}

.langMenu {
  border-radius: none !important;
}