.h1 {
  font: var(--H1);
  font-weight: 700;
}

.h2 {
  font: var(--H2);
  font-weight: 700;
}

.h3 {
  font: var(--H3);
  font-weight: 700;
}
.h4 {
  font: var(--H4);
  font-weight: 400;
}
.h5{
  font: var(--H5);
  font-weight: 400;
}
