.app_light_theme {
  --black: #1A1A1A;
  --dark-grey : #666666;
  --grey : #B3B3B3;
  --light-grey : #E5E5E5;
  --white-dark : #FCFCFC;
  --white : #FFFFFF;
  --primary-blue : #4E22CB;
  --gradient-orange:  linear-gradient(180deg, #DB9B36 0%, #DF742D 100%);
  --orange : #DB9B36;
  --red: #D51E4A;
  --green : #1E9B39;
  
}